Meetinger.json
{
  "name": "Meetinger",
  "nodes": [
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1460,
        -2400
      ],
      "id": "8ead14f9-6fb5-4a58-b0e1-688834e5bd17",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JYm61qxGDVBjOtEa",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -880,
        -1780
      ],
      "id": "efdc0cd9-6331-45e2-9280-376bf52035c6",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JYm61qxGDVBjOtEa",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Take the input. Separately Mention the Individual tasks that Every individual has to do(nothing else). Mention the meeting date\nInput : {{ $('Summarizer').item.json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -980,
        -2000
      ],
      "id": "a201e302-203b-423d-9dab-de41de650a2e",
      "name": "Task Maker",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Retrieve only The latest file(.txt) from the \"Hackathon - Transcripts & Recordings\" folder from drive ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1740,
        -1160
      ],
      "id": "12fe5fff-9921-487e-83dd-93707d918f28",
      "name": "Fetcher"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        -1600,
        -940
      ],
      "id": "993a5df0-c61f-44de-a79b-3e3c94506f91",
      "name": "Transcripts",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mAZyXMLfbVGR2J8u",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=create task events on google caledar for targeted credentials according to following prompt: {{ $json.text }} and filling credentials according to google sheets\nThe time length and date of the task should be correct\nTitle of the task should be correct\n\nAfter that, end task.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -440,
        -2000
      ],
      "id": "63cff79e-9ede-48c9-9d62-5451b434b9ec",
      "name": "Event Manager",
      "retryOnFail": false,
      "waitBetweenTries": 3500,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -520,
        -1780
      ],
      "id": "025053ce-f18b-4b8c-9228-82285242e61f",
      "name": "Azure OpenAI Chat Model2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JYm61qxGDVBjOtEa",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1720,
        -940
      ],
      "id": "63a1b629-1fa8-45cd-9475-0fd4e5c5ab00",
      "name": "Azure OpenAI Chat Model3",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JYm61qxGDVBjOtEa",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nB1qd8JTkCtpM9e8Y4ThrtDYdNPHHs159YKmAsn7FjM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Team Members",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nB1qd8JTkCtpM9e8Y4ThrtDYdNPHHs159YKmAsn7FjM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -400,
        -1780
      ],
      "id": "363056eb-e7fe-4313-b7cb-619365ac2ca3",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xISkQ0UcEDWFtOiA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        -2000
      ],
      "id": "012c9e1e-d3f8-4637-b947-f269f5f86a4c",
      "name": "Wait",
      "webhookId": "2b5162de-232f-4325-a293-ba83f4a3cafc"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "mode": "id",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -280,
        -1780
      ],
      "id": "523e371c-866e-46df-a3df-f756917e9eb0",
      "name": "Yash01122",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "WIR7LVte2sq2a5kb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}",
          "__regex": "(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -160,
        -1780
      ],
      "id": "ba0935d4-4c2d-456b-9f3e-1edd9e9c8810",
      "name": "Yashtp",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "yeKGNN5PphwHtqBb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1500,
        -1800
      ],
      "id": "d35a581b-c5da-48d3-a08e-fc5173453397",
      "name": "Azure OpenAI Chat Model4",
      "credentials": {
        "azureOpenAiApi": {
          "id": "JYm61qxGDVBjOtEa",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vKHioQAr4U64kuMctfHr2E8w3TOewCl-Le-uQTfAATI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Name&Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vKHioQAr4U64kuMctfHr2E8w3TOewCl-Le-uQTfAATI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1200,
        -2380
      ],
      "id": "e4157f38-8dd1-4ff9-b414-8385f372120a",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xISkQ0UcEDWFtOiA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.Email }}",
        "subject": "={{ $('Edit Fields').item.json.Name }}, this is the Recap of the latest meeting.",
        "emailType": "text",
        "message": "={{ $('Summarizer').item.json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1380,
        -1800
      ],
      "id": "31a893af-037e-4a27-8f2b-1a53ea102314",
      "name": "Gmail",
      "webhookId": "554fa482-cec3-4254-96d5-bd3841e0ae83",
      "credentials": {
        "gmailOAuth2": {
          "id": "oS070JrwF4NiLdks",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Take the user input(i.e. the transcript) and summarize it in the format of\nRecap of (Name of the meeting or simply date)\n-Topics(Whatever seems like a topic statement)\n-Action items(ex. Adam will be doing \"this\" till \"time\")\n-Key Questions\n-Topics for the next meetings\n(All of these are heading, so stuff will come under them)\n\nUser input = \n\nTechNova Sync – Monday, June 18, 2025\nTime: 10:00 AM – 10:04 AM IST\nFormat: Full Verbatim Transcript (Raw)\nPlatform: Google Meet\nAttendees: Aditi Sharma, Yash01122, Yashtp, Daniel Roy, Pooja Desai\n\n[10:00 AM] Aditi:\nLet’s do this quick. Yashtp, what’s the update on the token handling?\n\n[10:00 AM] Yashtp:\nStill ironing out two edge cases. Should be good by Wednesday EOD.\n\n[10:01 AM] Aditi:\nAlright, lock it for Wednesday. Yash01122, frontend ready?\n\n[10:01 AM] Yash01122:\nYeah, just waiting on the APIs. Can start integration Thursday 11 AM and also do the demo video Friday morning.\n\n[10:02 AM] Daniel:\nOnce integration is done, I’ll begin testing Friday.\n\n[10:03 AM] Pooja:\nJust ping me when the video’s ready — I’ll use it in the teaser draft.\n\n[10:04 AM] Aditi:\nPerfect. Tasks are clear — let’s catch up Thursday evening. Thanks, all.\n\nMeeting Ends: 10:04 AM IST\nRecording saved in: /Drive/Team Syncs/2025-06-18/",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1560,
        -2540
      ],
      "id": "b5f42aa1-02f7-4192-9554-ffaf5f0569c2",
      "name": "Summarizer",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1700,
        -2180
      ],
      "id": "a05aed51-653f-42fb-89b0-db635a8a83b6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1cc5fca-8f9b-4b7f-82e2-04f0f8647cfd",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "8856b6ec-b3cc-4681-970f-bf725059f283",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1460,
        -2180
      ],
      "id": "bfba6eaa-8381-4981-956e-ce562a086730",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1160,
        -2000
      ],
      "id": "e154ae20-c9aa-4401-87fd-4a5d8f94a7bf",
      "name": "Wait1",
      "webhookId": "9fbc7cb8-ea9b-4c42-b1a1-06c5f1f0f026"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1200,
        -2540
      ],
      "id": "4bce53aa-c134-43ad-8385-55a9e3a0cddb",
      "name": "Wait2",
      "webhookId": "0919e8a8-d49b-4aaa-99d3-01eb7443da61"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI assistant responsible for sending personalized emails. For each person whose details you receive from the loop (i.e., name, email address), do the following:\n\nCompose and send the message that is attached with the gmail tool\n\nAfter successfully sending the email, move on.\n\nAnd send only a single mail per person",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1540,
        -2000
      ],
      "id": "98912f1a-284a-4af0-8052-ff7bc0079c56",
      "name": "Mail Sender",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ibmN0_iH0uUG9gPSbGdxFEBkqFHwNFvf",
          "mode": "list",
          "cachedResultName": "Hackathon - Transcripts & Recordings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ibmN0_iH0uUG9gPSbGdxFEBkqFHwNFvf"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1740,
        -2540
      ],
      "id": "2137761a-5bab-4870-bd25-11656daa8b23",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mAZyXMLfbVGR2J8u",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Google Sheets1": [
      {
        "json": {
          "row_number": 2,
          "Name": "Yashtp",
          "Email": "yashjaintp@gmail.com"
        }
      },
      {
        "json": {
          "row_number": 3,
          "Name": "Yash01122",
          "Email": "yashj01122@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Task Maker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Task Maker": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetcher": {
      "main": [
        []
      ]
    },
    "Transcripts": {
      "ai_tool": [
        [
          {
            "node": "Fetcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Event Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Fetcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Event Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Event Manager": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Event Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yash01122": {
      "ai_tool": [
        [
          {
            "node": "Event Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Yashtp": {
      "ai_tool": [
        [
          {
            "node": "Event Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "Mail Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Mail Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Task Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail Sender": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "846a3837-d9a9-4f28-9ea1-680799c1973f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed3dbf5964c704326a2f18034272b2792e40d92f9c36f2e1ad3245957082527d"
  },
  "id": "OVzll0dnXFRQLZqv",
  "tags": []
}